*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
img {
  max-width: 10vw;
}
body {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
}
.portfolio {
  background: radial-gradient(rgba(86, 97, 93, 1), rgba(0, 0, 0, 1));
  color: white;
}
nav {
  width: 90%;
  margin: auto;
  height: 10vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.hamburger-menu .line {
  height: 0.2rem;
  width: 1.3rem;
  background-color: white;
}
.page {
  height: 90vh;
  color: white;
  display: grid;
  grid-template-columns: 5% repeat(3, 1fr) 5%;
}

.page .details {
  grid-column: 2/3;
  align-self: flex-end;
}
.details h1 {
  font-weight: normal;
  margin: 2rem 0;
  font-size: x-large;
}
.details h2 {
  font-weight: lighter;
  margin: 2rem 0;
  font-size: large;
}
.hero {
  justify-self: center;
  align-self: center;
  display: flex;
  cursor: pointer;
}
.hero img {
  transition: transform 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.model-left {
  transform: translateY(10%);
}
.model-right {
  transform: translateY(-10%);
}
.hero:hover .model-right,
.hero:hover .model-left {
  transform: translateY(0%);
}
.pages {
  position: fixed;
  top: 50%;
  right: 5%;
  transform: translateY(-50%);
}
.page-1,
.page-2,
.page-3 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.page-1 h3,
.page-2 h3,
.page-3 h3 {
  padding: 1rem;
}
.page-1 svg,
.page-2 svg,
.page-3 svg {
  cursor: pointer;
  opacity: 0.5;
  transform: scale(1.5) translateY(-20%);
}
.pages svg:hover {
  animation: dot 0.5s ease-in-out infinite alternate;
}
.pages svg.active {
  opacity: 1;
}
@keyframes dot {
  0% {
    transform: scale(1.5) translateY(-20%);
  }
  100% {
    transform: scale(3) translateY(-10%);
  }
}
